.listBox {
  height: 100px;
  width: 100%;
  border-radius: 20px;
  margin-block: 20px;
  padding-block: 20px;
  padding-inline: 30px;
  background-color: rgb(68, 134, 156);
}

.listName {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.progressBar {
  margin-top: 10px;
}
