.App {
  text-align: center;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.splitView {
  height: 93vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgb(159, 188, 206);
}

.mainPanel {
  width: 70%;
  height: 100%;
  overflow-y: scroll;
}

.dictPanel {
  width: 30%;
  height: 100%;
  background-color: #cfe5ef;
  overflow-y: scroll;
}
